.page {
    text-align: center;
}

#game {
    margin: 0 auto;
}

#end-of-the-day{
    display: none;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height: 896px;
    width: 500px;
    margin: auto;
    top : 0;
    left : 30%;
    background: rgba(0, 0, 0, 0.85);
}

#book-container{
    display: block;
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 5vh;
}

#city-influence-container{
    display: block;
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 5vh;
}

#city-influence{
    display: block;
    margin: 1% auto;
    width : 900px;
    display: flex;
    justify-content: right;
}

#influence{
    display: block;
    background: yellow;
    width : 0;
    height: 20px;
}

#book{
    display: none;
    flex-direction: column;
    height: 896px ;
    width: 700px;
    margin: auto;
    padding : 1%;
    top : 0;
    font-family: 'Press Start 2P';
    color : white;
    background: rgba(0, 0, 0, .9);
    overflow: auto;
}

#book ul{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#book ul li{
    width : 90%;
    margin: 3% auto;
}

#Potions-recipes, #Runes-recipes, #Parchemins-recipes{
    width : 95%;
    padding-bottom : 2%;
}

#Potions-recipes li , #Runes-recipes li , #Parchemins-recipes li{
    font-family: 'Source Code Pro';
}

#book-title{
    margin : 2%;
    text-align: center;
}

#quit-book{
    position: relative;
    right: 0;
    text-align: end;
    color : red;
    width : 100%;
}


.active{
    display: flex !important;
}

#end-of-the-day p{
    width : 90%;
    margin:  5% auto;
    color : white;
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 24px;
}

ul{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul li{
    margin : 1% 0%;
    font-family: 'Source Code Pro';

}

#timer-container{
    display: block;
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 5vh;
}
#timer{
    display: block;
    color : white;
    font-family: 'Press Start 2P';
    font-size: 20px;
    margin: 1% auto;
    width : 900px;
    color: white;
}


#info-container{
    display: block;
    position: absolute;
    top : 836px;
    left : 0;
    width: 100vw;
    height: 5vh;
}
#recipe-info{
    display: none;
    color : white;
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 20px;
    margin: .5% auto;
    width : 900px;
    color: white;
    padding : 1%;
    background: rgba(0, 0, 0, .9);
}

#inventory-container{
    display: block;
    position: absolute;
    top : 0;
    left : 0;
    width: 100vw;
    height: 5vh;
}

#inventory{
    display: none;
    flex-direction: column;
    height: 896px ;
    width: 700px;
    margin: auto;
    padding : 1%;
    top : 0;
    font-family: 'Press Start 2P';
    color : white;
    background: rgba(0, 0, 0, .9);
    overflow: auto;
}

#inventory ul{
    width : 90%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;

}

#inventory ul li{
    list-style: circle;
    width : 90%;
    margin: 1% auto;
}

#inventory-ressources, #inventory-quest-object{
    width : 95%;
    padding-bottom : 2%;
}

#inventory-ressources li , #inventory-quest-object li {
    font-family: 'Source Code Pro';
}


#quit-inventory{
    position: relative;
    right: 0;
    text-align: end;
    color : red;
    width : 100%;
}

#inventory{
    display: none;
    flex-direction: column;
    height: 896px ;
    width: 700px;
    margin: auto;
    padding : 1%;
    top : 0;
    font-family: 'Press Start 2P';
    color : white;
    background: rgba(0, 0, 0, .9);
    overflow: auto;
}